#navbar{
    display: flex;
    gap: 40px;
    padding: 20px;
    color: rgb(30, 80, 82);
    font-size: larger;

}
#navbar-texts{
    display: flex;
    gap: 40px;
    padding: 20px;
    font-size: larger;
    margin-left: 400px;
}
a{
    text-decoration: none;
    color: #082133;
}
#review{
    display: flex;
    gap: 40px;
}
#img{
    padding: 10px;
    
}
#text{
    text-align: center;
    padding: 20px;
    font-size: larger;

}




@media all and (min-width: 600px)and (max-width: 1024px){
    #navbar{
        display: flex;
        gap: 40px;
        padding: 20px;
        color: rgb(30, 80, 82);
        font-size: larger;
    
    }
    #navbar-texts{
        display: flex;
        gap: 40px;
        padding: 20px;
        font-size: larger;
        margin-left: 400px;
    }
    a{
        text-decoration: none;
        color: #082133;
    }
    #review{
        display: flex;
        gap: 40px;
    }
    #img{
        padding: 10px;
        
    }
    #text{
        text-align: center;
        padding: 20px;
        font-size: larger;
    
    }
    

}








    @media all  and (min-width: 100px )and (max-width:600px ){
        #navbar{
            display: flex;
            gap: 40px;
            padding: 20px;
            color: rgb(30, 80, 82);
            font-size: larger;
        
        }
        #navbar-texts{
            display: flex;
            gap: 40px;
            padding: 20px;
            font-size: larger;
            margin-left: 400px;
        }
        a{
            text-decoration: none;
            color: #082133;
        }
        #review{
            display: flex;
            gap: 40px;
        }
        #img{
            padding: 10px;
            
        }
        #text{
            text-align: center;
            padding: 20px;
            font-size: larger;
        
        }

    }